.App {
  text-align: center;
  background-color: black;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
.back-btn {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.back-btn:hover {
  color: blue;
}
.destination-detail-page,
.destination-page,
.country-page,
.home-page,
.continent-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-header {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
button {
  padding: 0.5rem 1rem;
  border: 1px solid blue;
  border-radius: 8px;
}
button:hover {
  background-color: blue;
  color: white;
}
/************Travel Card******/
.travel-card-container {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}
.travel-card-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/****** travel-card container ******/
.continent-container {
  display: flex;
  gap: 1rem;
}

/****** destination detail ******/
.des-detail-container {
  display: flex;
  width: 600px;
  gap: 4rem;
  text-align: left;
  align-items: center;
}

.des-detail-container img {
  width: 300px;
  height: 300px;
}
.des-detail-content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.des-detail-content-heading {
  color: blue;
}
